html
  head
    title= title
  body
  div(align='center')
      form(action='/course')
        - var values = courses;
        select(name='sel_course')
          each val in values.length ? values : ['There are no values']
            label="label"
            option(value=val+".json")= val
        br
        br
        input(type='submit', value='Далее')
