html
  head
    title= title
  body
    h1= course
    br
    form(action='/', )
        - var values = subjects;
        each val in values.length ? values : ['There are no values']
            label= val.subject
            label= val.result
            br
        input(type='submit', value='Send Request')
