html
  head
    title= title
    style
      include ./style.css
  body
    div
      .center(align='center')
          h1= "Академическая разница"
          form(action='/')
              - var values = subjects;
              ul
                each val in values
                    li= val.subject + ": " + val.result
              input(type='submit', value='На главную')