html
  head
    title= title
  body
    div(align='center')
        h1= "Академическая разница"
        form(action='/', )
            - var values = subjects;
            each val in values.length ? values : ['There are no values']
                label= val.subject + ": "
                label= val.result
                br
            br
            input(type='submit', value='На главную')
